/bin/
latex/.texpadtmp/Assingnment3.aux
latex/.texpadtmp/Assingnment3.log
latex/.texpadtmp/Assingnment3.out
latex/.texpadtmp/Assingnment3.synctex.gz
latex/.texpadtmp/middle report.aux
latex/.texpadtmp/middle report.log
latex/.texpadtmp/middle report.out
latex/.texpadtmp/middle report.synctex.gz
test.csv
report/latex/.texpadtmp/Assingnment3.aux
report/latex/.texpadtmp/Assingnment3.log
report/latex/.texpadtmp/Assingnment3.out
report/latex/.texpadtmp/Assingnment3.synctex.gz
report/latex/.texpadtmp/middle report.aux
report/latex/.texpadtmp/middle report.log
report/latex/.texpadtmp/middle report.out
report/latex/.texpadtmp/middle report.synctex.gz
